header {
  background-color: var(--second-black);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 200p;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav li {
  font-family: 500;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.nav li:hover {
  color: var(--violet);
  text-decoration: underline;
}
