.title_amime_hero {
  margin-top: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* Remove !important */
  text-align: center;
  line-height: 150%;
  font-weight: 1000;
  text-transform: uppercase;
  font-size: clamp(1.875rem, 1.875rem + 2.0833vw, 3.75rem);
  /* Add these lines for gradient */
  color: var(--main-gray) !important;
  /* Adjust colors */
  background-clip: text;
  -webkit-background-clip: text;
  /* For Safari */
  color: transparent;
  /* Makes the text color transparent so gradient shows */
}

.title_wrapper_hero {
  display: flex;
}
